# foundation
matplotlib
numpy
pandas

# PyTorch
torch				# PyTorch

# Sci
scikit-learn
scipy

# OpenAI
openai
openai-whisper

# Google AI
tensorflow[and-cuda]		# Google Tensorflow with NVIDIA CUDA support
google-cloud-aiplatform		# Google Cloud AI

# NVIDIA
tensorrt			#TesnorRT

# Huggingface
safetensors			# a safe and fast file format for storing and loading tensors
transformers			# HuggingFace transformers

