# Huggingface
safetensors			# a safe and fast file format for storing and loading tensors
transformers			# HuggingFace transformers

# others
datasets
soundfile
librosa
gradio
tf-keras
timm
inflect
phonemizer
py-espeak-ng